# Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.app
*.log

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# VSCode
.vscode/

# Publish outputs
publish/

# OS files
Thumbs.db
.DS_Store

# NuGet
packages/
.nuget/

# Test results
TestResults/

# Others
*.db 